---
import Greeting from '../components/greeting';
import BaseLayout from '../layouts/layout.astro';
---
<BaseLayout pageTitle="Home page">
    <Greeting client:load messages={['Hey', 'Hi', 'Hello']}/>
  <h2>My awesome blog subtitle</h2>
</BaseLayout>